---
- name: Stop named - RedHat
  service: name={{ named_service_name }} state=stopped
  when: ansible_os_family == "RedHat"

- name: Stop named - Debian
  service: name=bind9 state=stopped
  when: ansible_os_family == "Debian"

- name: Reload monit
  service: name={{ named_monit_service_name }} state=reloaded
